#include<stdio.h>
#include<time.h>
#include<stdlib.h>

int main(){
	
	int a,b,c,d,e;
	
	srand( time(NULL));
	a = rand() % 60;
	b = rand() % 60;
	c = rand() % 60;
	d = rand() % 60;
	e = rand() % 60;
	
	printf("\nJogo 1: %d %d %d %d %d",a,b,c,d,e);
	
	return 0;
}
